{% extends 'base.html' %}



{% block content %}
<section class="font-montserrat">
        <h1 class="w-50 mx-auto" style="width:200px">A-Z Men's Brands</h1>
            <div class="card">

                  <ul class="list-group list-group-flush ">
                      <li class="list-group-item"><a href="#">Abercrombie</a></li>
                      <li class="list-group-item"><a href="#">Ardene</a></li>
                  </ul>
              </div>
        </div>
    </section>

</body>
</html>
{% endblock content %}